@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500&display=swap');

a{
    color:#fa4f4f;
    font-size: 17px;
    text-decoration: none;
    margin-left: 5px ;
}

body{
    margin:0%;
    background-color: #f4f5f9;
    color:#222222;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    }
h1{
    color:#333;
    font-size: 40px;
}
/* p{
    color:blueviolet; 
    background-color: white;
}
*/h2{
    font-size: 30px;
} 
header{
    width: 100%;
    height: 100px;
    padding: 10px;
}
main{
    width: 900px;
    padding: 5px;
    margin:auto;
}
footer{
    width: 100%;
    background-color: #333;
    height: 100px;
}
nav{
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,0.5);
    line-height: 30px;
}

nav ul li{
    list-style-type: none;
   display: inline;
   padding-right: 5px;
}

img{
    width: 30%;
    height: auto;
}
a:hover{
    font-weight: bold;
    text-decoration: underline;
    
}

form{
    width: 80%;
    
}
input{
    margin-bottom: 5px;
    width: 200px;
    height: 30px;
}
button{
    width: 200px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #333;
    margin-left: 500px;
}

textarea{
    height: 50px;
}
span{
    color: red;
}

input, textarea,select{
    margin-bottom: 5px;
    width: 200px;
    height: 30px;
}